{erl_opts, [debug_info]}.
{deps, [
  {jsx, "3.1.0"}
]}.

{plugins, [
    {rebar3_hex, "7.0.9"}
]}.

{profiles, [
    {test, [{deps, []}]}
]}.

{hex, [
    {description, "A library for translating text to different natural languages using Ollama."},
    {licenses, ["Apache-2.0"]},
    {links, [
        {"GitHub", "https://github.com/roquess/ollama_translator"},
        {"Hex.pm", "https://hex.pm/packages/ollama_translator"}
    ]},
    {maintainers, ["Steve Roques<steve.roques@gmail.com>"]},
    {doc, #{provider => edoc}}
]}.

{shell, [
  {apps, [ollama_translator]}
]}.
